* {
	box-sizing: border-box;
}
body{
    margin: auto;
    background: #CAC6C6
}

.nav {
	box-shadow: 3px 3px 3px;
}

.container {
    margin: auto;
}

.content {
	margin-top: 10px;
	box-shadow: 3px 3px 3px;
	-moz-box-shadow: 3px 3px 3px;
	-webkit-box-shadow: 3px 3px 3px;
	border: 2px solid;
	border-radius: 5px;
}

#sidebar {
	margin-top: 10px;
	box-shadow: 3px 3px 3px;
	border: 2px solid;
	border-radius:5px;
}

#login {
	margin-top: 10px;
}
#newblog {
	margin-top: 10px;
	border: 2px solid;
	border-radius:5px;
}

form {
	margin: auto; 
	width: 250px;
	margin-bottom: 10px;
}